@aColor: #f60;
@fontColor: #143352;
@bkColor: #79C3D2;
.border-radius(@radius: 5px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: #333) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

.box-shadow-inset(@x: 0, @y: 0, @blur: 1px, @color: #999) {
    box-shadow: @arguments inset;
    -moz-box-shadow: @arguments inset;
    -webkit-box-shadow: @arguments inset;
}

.wrap() {
    text-wrap: wrap;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font: 18px "Lucida Grande", "微软雅黑", Arial, sans-serif;
    line-height: 1.5em;
}

body {
    background: @bkColor;
    color: @fontColor;
}

a {
    color: @aColor;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
}

ol, ul, li {
    list-style: none;
}

.fn-hide {
    display: none;
}

.fn-show {
    display: block;
}

.fn-fl {
    float: left;
}

.fn-fr {
    float: right;
}

.fn-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.error {
    color: darken(#ff0000, 10%);
    font-size: 12px;
    background: lighten(#ff0000, 40%);
    border: 1px dashed #ff0000;
    padding: 3px;
    margin-left: 10px;
}

.info {
    color: darken(#00ff00, 10%);
    font-size: 12px;
    background: lighten(#00ff00, 40%);
    border: 1px dashed #00ff00;
    padding: 3px;
    margin-left: 10px;
}

.tip {
    font-size: 0.8em;
    color: #777;
}

.row {
    margin-top: 15px;
}
.start {
    color:red;
//    font-size:30px;
}

.button(@fontSize: 12px) {
    text-decoration: none;
    display: inline-block;
    height: @fontSize * 2;
    line-height: @fontSize * 2;
    padding: 0 @fontSize / 2;
    font-size: @fontSize;
    background: @bkColor;
    .border-radius(2px);
    .box-shadow(1px, 1px, 1px, #666);
    text-align: center;
    margin: 0px 5px;
    color: #fff;
    text-shadow: -1px -1px 1px #666;
}

.btn {
    .button(12px);
}

.btn:hover {
    text-shadow: 0 0 1px #fff;
    background: lighten(@bkColor, 10%);
}

.fan-submit {
    .button(24px);
    float: right;
    margin: 0px 21px 0 0;
    background: #ff3300;
}
.fan-submit:hover{
    background: lighten(#ff3300, 10%);
}
// ----------------------------------------------------------
#top {
    width: 1104px;
    padding: 10px;
    margin: 30px auto;
    #title, #secend-title {
        font-size: 100px;
        text-shadow: -1px -1px 1px #fff;
        font-family: "Lucida Grande";
    }
    #secend-title:before {
        content: "•";
        padding: 10px;
    }
    #secend-title {
        font-size: 60px;
        margin-top: 40px;
        font-family: "微软雅黑";
        padding: 0px 10px;
    }
    #phone {
        font-size: 35px;
        margin-top: 98px;
        font-family: "微软雅黑";
        text-shadow: -1px -1px 1px darken(@fontColor, 10%);
        color: #fff;
        font-weight: bolder;
    }
}

#content {
    background: #d9eef2;
    .border-radius;
    width: 1104px;
    padding: 10px;
    margin: 0px auto 50px;
    .box-shadow(0, 0, 10px);
    min-height: 600px;
}

#main {
    width: 815px;
    min-height: 600px;
}
#userCount,#averagePrice,#totalPrice,#riceTotalPrice{
    font-size: 1em;
    color: #ff3300;
}
#side {
    margin-left: 10px;
    color: #ffffff;
    .side-box{
        width: 240px;
        .border-radius;
        background: @bkColor;
        padding: 15px;
        .box-shadow-inset(2px, 2px, 3px, darken(@bkColor, 30%));
        margin-bottom: 20px;
        h2{
            font-weight: bolder;
            font-size:1.5em;
            text-shadow: -1px -1px 1px #333;
        }
        .price-show {
            text-align: right;
            p{
                width: 160px;
            }
        }
    }
}

.dish-item {
    float: left;
    margin: 5px;
    width: 150px;
    height: 210px;
    background: #79C3D2;
    .border-radius(5px);
    border: 1px solid darken(#ccc, 20%);
    position: relative;
    cursor: pointer;
    .box-shadow(2px, 2px, 2px, darken(#ccc, 20%));
    .dish-photo {
        padding: 5px;
        img {
            width: 140px;
            height: 140px;
            .border-radius(3px);
        }
    }
    .dish-name {
        color: #fff;
        padding: 0 5px;
        height: 27px;
        overflow: hidden;
    }
    .dish-price {
        color: #ff0000;
        padding: 0 5px;
    }
    .dish-checker {
        width: 15px;
        height:15px;
        border: 3px solid lighten(#333, 0%);
        .border-radius(1px);
        .box-shadow-inset(1px, 1px, 3px, darken(#ccc, 40%));
        background: #fff;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .dish-info {
        width: 150px;
        height: 190px;
        background: #000;
        opacity: 0.8;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        .border-radius(3px);
        p {
            position: absolute;
            left: 10px;
            right: 10px;
        }

    }

}


.dish-item:hover .dish-info {
    .fn-show;
}

.dish-checked {
    .box-shadow(0px, 0px, 10px, darken(#ff3300, 0%));
    background: darken(#ff3300, 0%);
    .dish-price{
        color:#fff;
    }
    .dish-checker{
        border-color:#333;
    }
    .dish-checker:after{
        content: "√";
        text-shadow: 0 0 3px #ff3300;
        font-size:30px;
        color:#ff3300;
        font-weight: bolder;
        position: absolute;
        top: -11px;
        left: -1px;
    }
}

input[name=rice],input[name=bred]{
    width:30px;
    text-align: center;
}
.rice {
    margin-right: 20px;
}

.rice-container, .bred-container {
    display: inline-block;
    vertical-align: bottom;
    line-height: 0;

}

.rice-img, .bred-img {
    width: 30px;
    height: 30px;
    margin: 0px 3px;
    .border-radius(2px);
    .box-shadow(0px, 0px, 3px, darken(#79C3D2, 100%));
}

.user {
    height: 67px;
    margin: 10px;
    padding: 10px;
    background: #79C3D2;
    .border-radius(3px);
    .box-shadow-inset(2px, 2px, 5px, darken(#79C3D2, 50%));
    .photo-box {
        width: 66px;
        height: 66px;
        position: relative;
        display: inline-block;
        img, .photo-cover {
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 60px;
            .border-radius(60px);
            .box-shadow-inset(2px, 2px, 5px, #000);
            border: 3px solid #eee;
        }
    }
    .user-name {
        margin-left: 10px;
    }
}

.button-bar {
    margin: 20px 10px 0;
}

.apply-button {
    .button(24px);
    margin: 0;
}

.overt {
    padding: 0 10px;
    color: red;
}